*{
    box-sizing: border-box;
}
/* Main colour and font family are added for the whole website */
body{ 
    background-color: #212121;
    font-family: 'Josefin Sans', sans-serif;
    max-width: 1200px;
   
}
/* Creates a container for styling purposes*/
.container{
    margin: 0 auto;
    font-size: 16px;
}
/* Apply font-family to the paragraph content*/
.container p{
    font-family: 'Roboto Slab', serif;
}

/* Mobile Styles - Home */
/* colour and size are added for the header */
header{
    background-color: #212121;
    width: 100%;
    height:auto;
}
/* Add background to the logo */
.logo-img img{
width: 100%;
background-color: #E2D7D3;
}
/* The video is hidden for mobile style */
.banner {
    display: none;
}

/* The nav content is positioned on the ritght side */
.main-nav{
    position:relative;
    left: 450px;
    bottom: 350px;
    margin: 0px;
    z-index: 2;
    color: #212121;
    cursor: pointer;       
}
/* Apply style to the hamburguer menu icon */
.nav__hamburguer {
    opacity: 1;
    text-decoration: none;
    font-size: 2em;;
    background: #212121;
    border-radius: 0%;
    text-align: center;
    padding: 18px;
    color: #E2E1D6;
} 

/* move menu offscreen */
.nav__mainmenu {
    opacity: 0;
    visibility: none;
    list-style-type: none;
    position: fixed;
    top: 20px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;      
    align-items: left;
    color: #25310c;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.19);
    border: 1px solid rgba(24, 23, 23, 0.096); /* part of glass morphism effect */
    background: rgb(19, 18, 18);    
     
}

/* Activate the listcontainer. */
.nav__listcontainer:focus .nav__mainmenu,
.nav__listcontainer:focus-within .nav__mainmenu {
    visibility: visible;
    opacity: 1;
    top: -40px;
    right: 0px;
    width: 320px;
    height: 100%;
}
/* Apply style to the items container*/
.nav__listcontainer:focus .nav__mainmenu,
.nav__listcontainer:focus-within .nav__mainmenu {
        background: rgba(17, 17, 17, 0.7);
        backdrop-filter: blur(10px);
}

/* Add border to separate items and align the list on the left side*/
.nav__item {
    margin-right: 0;
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #956B06 ;
}
/* Remove underline*/
.nav__link{
    color: #956B06;
    text-decoration: none;
    font-size: 24px;
}
/* Apply margin to separate the hamburguer icon */
.nav__item:first-child {
    margin-top: 50px;
  }
/* Apply style to the list items*/
  .nav__link:hover,
  .nav__link:focus {
      opacity: 0.8;
      color: #121212;
  
  }
  /* Set the colour of the items*/
.nav__item .nav__link:hover {
    color: #956B06;
}
 /* Add colour and margin and align the main heading*/
h1{
    text-align: center;
    color: #956B06;
    margin-top: 50px;
    margin-bottom: 0px;
}
 /* Add colour to the second heading */
h2{
    text-align: center;
    color: #956B06;
}
 /* Apply padding and margin, colour and align the description content*/
.description-event p{
    text-align: center;
    color: #956B06;
    padding:30px;
    margin-top: 0px;
}
 /* Room elements are hidden*/
.room{
    display: none;
}
/* upcoming packages, event packages and map content are hidden*/
.upcoming-packages, .packages-event, .map{
    display: none;
}
/* Some room images are hidden*/
.room-1-wed img:nth-child(2), img:nth-child(3), .room-2-wed, .room-3-wed, 
.room-1-corp img:nth-child(2), .room-1-corp img:nth-child(3), .room-2-corp, .room-3-corp,
.room-1-social img:nth-child(2), .room-1-social img:nth-child(3), .room-2-social,
.room-3-social{
    display: none;
}

/* Images that are visible for event mobile */
.rooms-wed img:first-child, .room-1-corp img:first-child, .room-1-social img:first-child {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 20px;
   
}

/* Add border to separate the footer and use flexboxs to organize social media icons and contact us section*/
.company-contact{
    border-top: 1px solid #E2E1D6;
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: row-reverse;
}
/* Add margin to the contact us section */
.contactus{
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 10px;
}
/* Add a specific colour for title and paragraph  */
.contactus h3, p{
    color: #E2E1D6 ;
}
/* Change the size of the title */
.contactus h3{
    font-size: medium;
}
/* Change the size of the paragraphs */
.contactus p{
    font-size: smaller;
}
/* Change the colour and size of social media icons */
.socials a {
    color:#E2E1D6;
    font-size:30px;
    text-decoration: none;
}
/* Add margin and remove list for styling purposes */
.socials ul{
    list-style-type: none;
    margin: 30px;
}
/* Remove border and add margin for styling purposes */
.socials li{
    border: none;
    margin: 5px;
}

