/* Mobile Styles - Events*/
*{
    box-sizing: border-box;
}
/* Main colour and font family are added for the whole website */
body{ 
    background-color: #212121;
    font-family: 'Josefin Sans', sans-serif;
}
/* Creates a container for styling purposes*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    font-size: 16px;
}
/* Apply font-family to the paragraph content*/
.container p{
    font-family: 'Roboto Slab', serif;
}
/* colour and size are added for the header */
header{
    background-color: #212121;
    width: 100%;
    height:auto;
}
/* Add background to the logo */
.logo-img img{
width: 100%;
background-color: #E2D7D3;
}
/* The video is hidden for mobile style */
.banner video{
    display: none;
}
/* The title, events, upcoming events, about and map are hidden for mobile style */
h1, .events, .upcomingevents, .about, .map{
    display: none;
}
/* Icon is hidden for mobile style */
.navbar i{
    display: none;
}
/* Apply margin to the navigation bar */
.navbar{
    margin: 30px;
}
/* remove the dots of the list and determine the size*/
.navbar nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
/* Add a coloured border to separate the navigation bar list */
.navbar li{
    border-bottom: 1px solid #956B06; ;
}
/* Apply hover for better user experience */
.main-nav li a:hover {
    background-color: #272626;
}
/* Specify fundamental styles for the nav items */
.navbar a{
    color:#956B06;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 15px 20px;
    text-decoration: none; 
    text-transform: uppercase;
    font-weight: bold;
}


.main-nav .container input[type="checkbox"],
.main-nav .container .hamburger-lines {
    display: none;
}

.main-nav {
    box-shadow: 0px 5px 10px 0px #212121;
    position: fixed;
    width: 100%;
    background: #212121;;
    color: #000;
    opacity: 0.85;
    height: 50px;
    z-index: 12;
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: left;
  }

  .navbar{
    order: 2;
    display: flex;
  }

  .navbar li{
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  .menu-items a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
  }

  .navbar{
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
  }