*{
    box-sizing: border-box;
}
/* Main colour and font family are added for the whole website */
body{ 
    background-color: #212121;
    font-family: 'Josefin Sans', sans-serif;
    max-width: 1200px;
}
/* Creates a container for styling purposes*/
.container{
    margin: 0 auto;
    font-size: 16px;
}
/* Apply font-family to the paragraph content*/
.container p{
    font-family: 'Roboto Slab', serif;
}


/* Mobile Styles - Home */
/* colour and size are added for the header */
header{
    background-color: #212121;
    width: 100%;
    height:auto;
}
.main-nav .container input[type="checkbox"],
.main-nav .container .hamburger-lines {
    display: none;
}

/* Add background to the logo */
.logo-img img{
width: 100%;
background-color: #E2D7D3;
}
/* The video is hidden for mobile style */
.banner video{
    display: none;
}
/* The title, events, upcoming events, about and map are hidden for mobile style */
h1, button, .events, .upcomingevents, .about, .map{
    display: none;
}
/* Icon is hidden for mobile style */
.navbar i{
    display: none;
}
/* Apply margin to the navigation bar */
.navbar{
    margin: 30px;
}
/* remove the dots of the list and determine the size*/
.navbar nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
/* Add a coloured border to separate the navigation bar list */
.navbar li{
    border-bottom: 1px solid #956B06; ;
}
/* Apply hover for better user experience */
.navbar li a:hover {
    background-color: #272626;
}
/* Specify fundamental styles for the nav items */
.navbar a{
    color:#956B06;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 15px 20px;
    text-decoration: none; 
    text-transform: uppercase;
    font-weight: bold;
}
/* Add border to separate the footer */
.company-contact{
    border-top: 1px solid #E2E1D6;
    width: 100%;
    height:150px;
}
/* Add margin to the contact us section */
.contactus{
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 10px;
}
/* Add a specific colour for title and paragraph  */
.contactus h3, p{
    color: #E2E1D6 ;
}
/* Change the size of the title */
.contactus h3{
    font-size: medium;
}
/* Change the size of the paragraphs */
.contactus p{
    font-size: smaller;
}
/* The social icons is positioned on the right side */
.socials{
    position: absolute;
    right: 15px;
}
/* Change the colour and size of social media icons */
.socials a {
    color:#E2E1D6;
    font-size:30px;
    text-decoration: none;
}
/* Add margin and remove list for styling purposes */
.socials ul{
    list-style-type: none;
    margin: 30px;
}
/* Remove border and add margin for styling purposes */
.socials li{
    border: none;
    margin: 5px;
}



/* Media Query for Laptops and Desktops */
@media screen and (min-width: 760px){
.container{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    
}
h1, .events, .upcomingevents, .about, .map{
    display: block;
}

.banner video{
    display: block;
    position: absolute;
    bottom: 150px;  
}
.logo-img{
    width: 250px;
    height:180px;
    position: relative;
    bottom:10px;
    z-index: 2;
    margin-top: 5px;

}
.button{
    display: block;
    width: 300px;
    height:80px;
    position: relative;
    top: 100px;
    left: 60%;
    z-index: 2;
    font-size: 18px;
}
.button1{
    background-color: #212121 ;
    color: #fff;
    border-style: none;
}

.navbar{
    position: relative;
    left: 25%;
    top: 300px;
    z-index:2;
}

.navbar li{
    float: left;
    border: none;
}
  
.navbar a{
    font-size: 1.5em;
}

.events{
    position:relative;
    left: 250px;
    margin: 20px;

}

.events .events-headlines{
    position: relative;
    top: 350px;
}
.event-box{
    position: relative;
    top: 400px;
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    grid-template-areas:
    "wedding-box corporate-box social-box upcoming-box package-box";
    grid-gap: 5px;
    margin-left: 0;
    margin-bottom: 0;
    height: 350px;
    border-bottom: 1px solid #956B06;
}
h1{
    text-align: center;
    color:#E2E1D6;
}
h2{
    text-align: center;
    color: #956B06;
}
.wedding-info h3{
    position: relative;
    top: 100px;
}
.package-img img{
    height: 150px;
}
.event-box img{
    object-fit: cover;
    height: 150;
    opacity: 0.6;
}

img{
    width: 100%;
}

.event-box > .wedding-info, .corporate-info, .social-info, .upcomingevents-info, .package-info{
    position: relative;
    left: 5px;
    top: 110px;
    z-index:2;
}
.event-box h3{
    color: #E2E1D6;
    font-size: 1.5em;
    font-weight: bold;
    text-align:justify;
    text-align: center;
 
}

.upcomingevents{
    position: relative;
    top: 450px;
    left:250px;
    height:auto;
    border-bottom: 1px solid #956B06;
    margin: 10px;
}

.about{
    height:350px;
        position:relative;
        top:500px;
        padding:25px;
        display:flex;
        justify-content: center;
        align-items: center;
        left:250px;
}

/* Adjust about image */
.about img{
    margin-left:30px;

}
/* Adjust the the size of the image placed in about section */
.about img, .about-info{
    width:500px;
    height:320px;
}
/* Adjust text*/
.about-info p{
    padding: 10px;
}



.company-contact{
 
    position: relative;
    top: 600px;
    left:250px;
}

.socials{
   position: relative;
   left:0;
   top: 25px;
}

.socials li{
    float: left;
}

.contactus{
    position: relative;
    top:0;
    left: 50px;
    float: left;
}

.map{
    float: left;
    
}

map iframe{
    width:0px;
    height: 200px;
}

}
