*{
    box-sizing: border-box;
}
/* Main colour and font family are added for the whole website */
body{ 
    background-color: #212121;
    font-family: 'Josefin Sans', sans-serif;
    max-width: 1200px;
}
/* Creates a container for styling purposes*/
.container{
    margin: 0 auto;
    font-size: 16px;
}
/* Apply font-family to the paragraph content*/
.container p{
    font-family: 'Roboto Slab', serif;
}


/* Mobile Styles - Home */
/* colour and size are added for the header */
header{
    background-color: #212121;
    width: 100%;
    height:auto;
}
.main-nav .container input[type="checkbox"],
.main-nav .container .hamburger-lines {
    display: none;
}

/* Add background to the logo */
.logo-img img{
width: 100%;
background-color: #E2D7D3;
}
/* The video is hidden for mobile style */
.banner video{
    display: none;
}
/* The title, events, upcoming events, about and map are hidden for mobile style */
h1, button, .events, .upcomingevents, .about, .map{
    display: none;
}
/* Icon is hidden for mobile style */
.navbar i{
    display: none;
}
/* Apply margin to the navigation bar */
.navbar{
    margin: 30px;
}
/* remove the dots of the list and determine the size*/
.navbar nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
/* Add a coloured border to separate the navigation bar list */
.navbar li{
    border-bottom: 1px solid #956B06; ;
}
/* Apply hover for better user experience */
.navbar li a:hover {
    background-color: #272626;
}
/* Specify fundamental styles for the nav items */
.navbar a{
    color:#956B06;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 15px 20px;
    text-decoration: none; 
    text-transform: uppercase;
    font-weight: bold;
}
/* Add border to separate the footer and use flexboxs to organize social media icons and contact us section*/
.company-contact{
    border-top: 1px solid #E2E1D6;
    width: 100%;
    height:150px;
    display: flex;
    flex-direction: row-reverse;
}
/* Add margin to the contact us section */
.contactus{
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 10px;
}
/* Add a specific colour for title and paragraph  */
.contactus h3, p{
    color: #E2E1D6 ;
}
/* Change the size of the title */
.contactus h3{
    font-size: medium;
}
/* Change the size of the paragraphs */
.contactus p{
    font-size: smaller;
}
/* Change the colour and size of social media icons */
.socials a {
    color:#E2E1D6;
    font-size:30px;
    text-decoration: none;
}
/* Add margin and remove list for styling purposes */
.socials ul{
    list-style-type: none;
    margin: 30px;
}
/* Remove border and add margin for styling purposes */
.socials li{
    border: none;
    margin: 5px;
}





/* Media Query for Laptops and Desktops */
@media screen and (min-width: 760px){
.container{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
/* Headings and sections are displayed to be available on Desktop */
h1, .events, .upcomingevents, .about, .map{
    display: block;
}
/* Banner is available on Desktop */
.banner video{
    display: block;
    position: absolute;
    bottom: 150px;  
}
/* The logo is positioned on the left side*/
.logo-img{
    width: 250px;
    height:180px;
    position: relative;
    bottom:10px;
    z-index: 2;
    margin-top: 5px;
}
/*  Use z-index to adjust the button in the banner */
.button{
    display: block;
    width: 180px;
    height:60px;
    position: relative;
    top: 100px;
    left: 60%;
    z-index: 2;
    font-size: 18px;
}
/* Add style to the button and apply animation */
.button1{
    background-color: #212121 ;
    color: #fff;
    border-style: none;
    cursor: pointer;
    transition: all 0.5s;
  
}
/* Button animation */
.button1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #5c4f31;
    opacity: 0.1;
    transition: all 0.3s;
  }
  /* Button animation */
  .button1:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  /* Button animation */
  .button1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid #956B06;
    transform: scale(1.2,1.2);
  }
  /* Button animation */
  .button1:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }
/* The position of the navigation is on the banner */
.navbar{
    position: relative;
    left: 25%;
    top: 300px;
    z-index:2;
}
/* Navigation bar - position */
.navbar li{
    float: left;
    border: none;
}
  /* Adjust the size of the navigation bar items */
.navbar a{
    font-size: 1.5em;
}


.events{
    position:relative;
    left: 250px;
    margin: 20px;
}

.events .events-headlines{
    position: relative;
    top: 350px;
}
.event-box{
    position: relative;
    top: 400px;
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    grid-template-areas:
    "wedding-box corporate-box social-box upcoming-box package-box";
    grid-gap: 5px;
    margin-left: 0;
    margin-bottom: 0;
    height: 350px;
    border-bottom: 1px solid #956B06;
}
h1{
    text-align: center;
    color:#E2E1D6;
}
h2{
    text-align: center;
    color: #956B06;
}
.anim-head {
    text-align:center;
    background: #212121;
    color:#956B06;
    font-family:'Roboto';
    font-weight:300;
    font-size:20px;
    
    height:auto;
    overflow:hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
  }
  
  .events-headlines h2 {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
  }
  
  .events-headlines h2:first-of-type {  
    animation: showup 5s infinite;
  } 
  .events-headlines h2:last-of-type span {
    margin-left:-355px;
    animation: slidein 7s infinite;
  }
  
  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
   
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:355px;}
      80% {opacity:1;}
      100% {opacity:0;width:355px;}
  }
  
.wedding-info h3{
    position: relative;
    top: 100px;
    color:#E2D7D3;
}
.package-img img{
    height: 150px;
}
.event-box img{
    object-fit: cover;
    height: 150px;
    opacity: 0.6;
}

img{
    width: 100%;
}

.event-box > .wedding-info, .corporate-info, .social-info, .upcomingevents-info, .package-info{
    position: relative;
    left: 5px;
    top: 110px;
    z-index:2;
}
.event-box h3{
    color: #E2E1D6;
    font-size: 1.5em;
    font-weight: bold;
    text-align:justify;
    text-align: center;
}

.wedding-img:hover, .corporate-img:hover, .social-img:hover, .upcomingevents-img:hover, .package-img:hover{
    background-color: #212121 ;
    color: #fff;
    border-style: none;
    cursor: pointer;
    transition: 0.3s all ease;
    transform: scale(1);
    animation: light 1.5s infinite alternate;
    opacity: 0.7;
}
.wedding-info h3:hover{
    color:#956B06;
}

.wedding-img:hover, .corporate-img:hover, .social-img:hover, .upcomingevents-img:hover, .package-img:hover:hover {
    transform: scale(1.03);
 }
 @keyframes light {
    0% {
       -webkit-box-shadow: 0px 0px 10px 0px rgba(190,77,227,0);
       -moz-box-shadow: 0px 0px 10px 0px rgba(190,77,227,0);
       box-shadow: 0px 0px 10px 0px rgba(190,77,227,0);
    }
    100% {
       -webkit-box-shadow: 0px 0px 10px 0px rgb(219, 217, 206);
       -moz-box-shadow: 0px 0px 10px 0px rgb(219, 217, 206);
       box-shadow: 0px 0px 10px 0px rgb(219, 217, 206);
    }
 }
.upcomingevents{
    position: relative;
    top: 450px;
    left:250px;
    height:auto;
    border-bottom: 1px solid #956B06;
    margin: 10px;
}

.about{
    height:350px;
    position:relative;
    top:500px;
    padding:25px;
    display:flex;
    justify-content: center;
    align-items: center;
    left:250px;
}

/* Adjust about image */
.about img{
    margin-left:30px;

}
/* Adjust the the size of the image placed in about section */
.about img, .about-info{
    width:500px;
    height:320px;
}
/* Adjust text*/
.about-info p{
    padding: 10px;
}
.company-contact{
    position: relative;
    top: 600px;
    left:250px;
    display: flex;
}

.socials{
   position: relative;
   left:0;
   top: 25px;
   width: 260px;;
}

.socials li{
  float: left;
}

.contactus{
    position: relative;
    top:0;
    left: 50px;
}


}






 

  
